{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% import 'article/_macro_article.html.twih.twig' as article_macro %}

{% block body %}
<section class="articles">
    {% for article in articles %}
        <article>
            <h2>{{ article.nom }}</h2>
            <div class="metadata">Prix de l'article : {{ article.prix }} dans la catégorie {{ article.categorie.titre }}</div>
            <div class="content">

                {{ article_macro.showAttachment(article.attachments, article.nom, true) }}

                {{ article.prix }}
                {{ article.description | raw }}
                <a href="{{ path('article_show', {'id' : article.id }) }}" class=" btn btn-primary">Voir plus</a>
            </div>
        </article>
    {% endfor %}
</section>
{% endblock %}
